@import 'variables';

@mixin button ($text-color: $color-primary-dark, $background-color: $color-light, $border: 0) {
    padding: $standard-padding;
    margin: $standard-padding;
    background-color: $background-color;
    color:$text-color;
    border: $border;
    font-weight: bold;
    font-size: $standard-font-size;

    &:hover {
        cursor: pointer;
        background-color: darken($background-color, 20%);
    }


}