@import '_variables.scss';

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
section,
article,
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-size: $font-size-header;
}

h2 {
    font-size: $font-size-subheader;
}

a {
    color: $color-primary-dark;

    &:hover {
        color: $color-light-secondary;
    }
}

span {
    font-size: $font-size-small;
}