
$standard-padding: 20px;
$standard-margin: 20px;

$standard-font-size: 16px;
$font-size-header: $standard-font-size * 3;
$font-size-subheader: $standard-font-size * 2;
$font-size-small: $standard-font-size * .75;

$color-primary: #31D8A7;
$color-primary-dark: #006062;
$color-secondary: #0FCF71;
$color-light: #2EE2FA;
$color-light-secondary: #EEEAD4;