@import 'typography';
@import 'change-details-modal';

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: $standard-padding;

    section {
        padding: $standard-padding;
    }

    h1 {
        font-size: $font-size-header;
    }

    h2 {
        font-size: $font-size-subheader;
    }
}

td {
    border-left: 2px solid lightgray;
    padding: $standard-padding $standard-padding / 2;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $color-primary;
    grid-column: 1/6;
    grid-row: 1/2;
    align-items: stretch;

    .menu-item{
        display: grid;
        grid-column: 3/4;

        &:hover {
            span, i {
                color: #EEEAD4;
            }
        }

        a {
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            font-weight: 600;
            text-decoration: none;

            span {
                color: black;
                padding: $standard-padding / 2;
                font-weight: 600;
            }
        }
    }

    .menu-item.change-details {
        span, i {
            color: grey;
            cursor: initial;
        }
    }




    i {
        color: black;
        justify-self: end;
        align-self: center;
        font-size: $standard-font-size * 1.5;
    }

    .user-panel {
        grid-column: 4/5;
    }

}

.recs-this-week {
    background-color: $color-light;
    grid-column: 1/4;
    grid-row:  2/5;
}

.share-album {
    background-color: $color-light;
    grid-column: 4/6;
    grid-row: 2/5;
}

.result-container {
    display: flex;
    flex-direction: row;
}